#petitephrase {
    animation: slideInFromLeft 1s ease-in-out;
}

.parallax-container {
    position: relative;
    height: 70vh;
    overflow: hidden;
    animation: slideInFromLeft 1s ease-in-out;
}

.parallax-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    background-image: url('https://media.lesechos.com/api/v1/images/view/629f7d1cd2c56301904e9a67/1280x720/0701732780474-web-tete.jpg');
    background-size: cover;
    background-position: center;
    transform: translateZ(0);
    z-index: -1;
    animation: slideInFromLeft 1s ease-in-out;
}

.content {
    padding: 100px;
    text-align: center;
    color: white;
    font-size: 24px;
    z-index: 1;
    animation: slideInFromLeft 1s ease-in-out;
}

/* Animation Keyframes */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* Style pour les tableaux */
#feed-table-avis,
#feed-table-cti {
    animation: slideInFromLeft 1s ease-in-out;
    margin-top: 20px;
}

/* Style CSS pour les écrans de téléphone et de PC */

/* Style pour le centrage du contenu */
#rss-feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Style des liens */
#rss-feed a {
    color: black;
}

#rss-feed a:hover {
    color: #ccd6f6;
}

/* Style des tableaux */
table {
    border-collapse: collapse;
    margin-bottom: 20px; /* Espacement entre les tableaux */
}

th, td {
    border: 2px solid black;
    padding: 8px;
    font-size: 15px;
    color: #ccd6f6;
    text-align: left;
    font-style: italic;
}

.image-cell img {
    max-width: 30px; /* Taille de l'image */
    max-height: 30px;
    vertical-align: middle; /* Aligner verticalement l'image au milieu du texte */
    margin-right: 5px; /* Marge à droite de l'image pour l'espacement */
}

.rss-png {
    max-width: 20px; /* Taille de l'image */
    max-height: 20px;
    vertical-align: middle; /* Aligner verticalement l'image au milieu du texte */
    margin-right: 5px; /* Marge à droite de l'image pour l'espacement */
}

/* Media Query pour les écrans de téléphone */
@media screen and (max-width: 767px) {
    table {
        border-collapse: collapse;
        border-radius: 10px; /* Arrondir les bords du tableau */
        overflow: hidden; /* Masquer les coins arrondis qui dépassent */
        width: 100%; /* Largeur du tableau */
        max-width: 400px; /* Largeur maximale du tableau */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre autour du tableau */
    }
    th, td {
        border: none; /* Supprimer les bordures des cellules */
        padding: 8px;
        font-size: 13px;
        text-align: center; /* Centrer le texte horizontalement */
        font-style: italic; /* Mettre le texte en italique */
    }
    .image-cell img {
        max-width: 20px; /* Taille de l'image */
        max-height: 20px;
        vertical-align: middle; /* Aligner verticalement l'image au milieu du texte */
        margin-right: 5px; /* Marge à droite de l'image pour l'espacement */
    }
    .rss-png {
        max-width: 20px; /* Taille de l'image */
        max-height: 20px;
        vertical-align: middle; /* Aligner verticalement l'image au milieu du texte */
        margin-right: 5px; /* Marge à droite de l'image pour l'espacement */
    }
    .title-cell {
        text-align: center; /* Centrer le texte horizontalement dans la cellule */
    }
}
